.gitignore
build*/
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.nc
*~
*.dat
*.o
*.petsc
*.petsc.info
*.pyc
__pycache__/
.venv/
.venv*/
*.egg-info/
cloud/dashboard-ui/node_modules/
cloud/dashboard-ui/.vite/
cloud/pism_cloud/static/
out.*
examples/**/*.png
examples/**/*.zip
TAGS
.DS_Store
